@import url('http://fonts.cdnfonts.com/css/roboto');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'roboto',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    background-color: #f2f2f2;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar{
  background-color: blue !important;
 
}
.lot{
  background: gold;
  margin-bottom: 2vh;
  padding: 20px;
  height: 60vh;
  background: rgb(255, 255, 255);
  cursor: pointer;
  img{
   width: 100%;
   height: 30vh;
  }
}
.price {
  .price-title{
    color: rgb(255, 107, 0);
  }
}
.lot-details{
  img{
    width: 100%;
  }
  .detail-container{
    padding-top: 14vh;
    .title-details{
      text-align: center;
      h3{
        text-align: center;
      }
     
    }
    .badge{
      svg{
        color: yellow !important;
      }
      span{
        color: black;
      }
      
    }
    .inventory{
      .count{
        color:#ff6a00
  }
}
// .price{
//   color: #ff6a00;
// }
.price-number{
  color: #ff6a00;
}
.btn-regist{
  background-color: #ff6a00;
  color: #fff;
}
  }

}
.icon-loading{
  margin-top: -30vh;
  // color: #ff6a00;
}
.nav-item{
 
}
.nav-item-shopping-basket{
  position: absolute;
  right:2vw;
  svg{
    font-size: 3.5vh;
    
    position: relative;
    top: 1.5vh;
  }
  .badge{
    top: 2vh;
    position: relative;
    padding: 2px 4px 2px 4px;
  }
}

