@import url('http://fonts.cdnfonts.com/css/roboto');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'roboto',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    background-color: #f2f2f2;
    color: #333;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next{
  background: #f2f2f2;
}
.navbar{
  background-color: #fff !important;
  height: 10vh;
.navbar-brand{
  position: absolute;
  left: 2vw;
}
.shopping-card-modal{
  position: absolute;
    right: 2vw;
    top: 10vh;
    z-index: 2;
    height: fit-content;
    background: #fff;
    
    width: 25vw;
    .lots-list{
      overflow-y: scroll;
      position: relative;
      height: 70vh;
    }
    img{
      width: 70px;
    }
    .price{
      color: rgb(255, 107, 0);
      font-size: 2.5vh;
      margin-top: 2vh;
    }
    .lot-count{
      border: solid 1px;
      padding: 8px;
      position: relative;
      display: flex;
      border-radius: 5px;
      width: 6vw;
      left: 1.5vw;
      .lotCount-number{
        text-align: center;
        padding-left: 2vw;
      }
      input{
        width: 100%;
        text-align: center;
        border: unset;
        &:focus,&:focus-visible,&:focus-within{
          border: unset;
          outline: unset;
        }
      
      }
      svg{
        font-size: 3.5vh;
      }
      .increment{
         border: unset;
         background: inherit;
         font-size: 4vh;
         position: absolute;
         top: 0vh;
         right: 0vw;
         color: #ff6a00;
      }
      .decrement{
        border: unset;
        background: inherit;
        font-size: 5vh;
        position: absolute;
        top: -1vh;
       color: #ff6a00;
        left: 0;
      }
      margin-top: 2vh;
   
     
    }
    .modal-lot{
      padding: 15px;
      font-size: 2.2vh;
      text-align: center;
    }
    .close{
      position: absolute;
      right: 1vw;
      cursor: pointer;
      color: #ff6a00;
    }
    .regist-order{
      position: absolute;
      background: #fff;
      width: 100%;
      border-top: 1px solid gainsboro;
      padding: 7px;
      // margin-left: 0.5vw;
      .btn-regist-order{
        background-color: #ff6a00;
        color: #fff;
      }
    .total-cost{
      font-size: 2.2vh;
      .price{
        color: #ff6a00;
      }
    }
    }
}
.about-item
{
  position: absolute;
  left: 9vw;
  top: 2vh;
}
 
}
.lots{
  margin-top: 4vh !important;
}
.lot{

  margin-bottom: 2vh;
  padding: 20px;
  height: 60vh;
  background: rgb(255, 255, 255);
  cursor: pointer;
  img{
   width: 100%;
   height: 30vh;
  }
}
.price {
  text-align: center;
  .price-title{
    color: rgb(255, 107, 0);
  }
}
.lot-details{
  .img-container{
    padding-top: 14vh;
  }
  img{
    width: 100%;
    height: 60vh;
    box-shadow: 0 0 10px 0 #f6f6f6;
    border-radius: 5px ;
  }
  .last-container{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 #f6f6f6;
    border-radius: 5px ;
    height: 60vh;
  }
  .detail-container{
    padding-top: 14vh;
   
    }
    .title-details{
      text-align: center;
      h3{
        text-align: center;
      }
     
    }
    .badge{
      svg{
        color: yellow !important;
      }
      span{
        color: black;
        font-size: 2vh;
      }
      
    }
    .inventory{
      text-align: center;
      .count{
        color:#ff6a00
  }
}
// .price{
//   color: #ff6a00;
// }
.price-number{
  color: #ff6a00;
}
.btn-regist{
  background-color: #ff6a00;
  color: #fff;
  margin-top: 37vh;
  text-align: center;
    position: relative;
    left: 5vw;
    // margin-bottom: 2vh;
}
  }


.icon-loading{
  margin-top: -30vh;
  // color: #ff6a00;
}

.nav-item-shopping-basket{
  position: absolute;
  right:4vw;
  top: 2.5vh;
 cursor: pointer;
 img{
  width: 27px;

 }
  svg{
    font-size: 3.5vh;
    
    position: relative;
    top: 1.5vh;
  }
  .badge{
    top: 1vh;
    right:0.3vw;
    position: relative;
    padding: 2px 4px 2px 4px;
    background-color: #ff6a00 !important;
    color: #fff !important;
  }
  .btn-search{
    height: fit-content;
  }

}
.category{
  
  margin-bottom: 2vh;
  padding: 20px;
  padding-top: 2vh;
  height: 40vh;
  background: rgb(255, 255, 255);
  cursor: pointer;
  img{
   width: 100%;
   height: 30vh;
   
  }
  .title{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  } 
 
}
.categories{
  top: -15vh;
  position: relative;
  color: #333;
  .categories-title{
    text-align: center;
  }

}
.pagination-button{
  text-align: center;
}
.nav-item{
  .form-floating>.form-control{
    padding: 14px  !important;
  
  }
  .form-floating>label{
    padding: 10px !important;
  }
  .btn-search{
    background: rgb(255, 107, 0);
    border: unset;
    width: 6vw;
    border-radius: 0 10px 10px 0;
    &:hover{
      background: #e35300 !important;
    }
    &:active{
      background: #e35300 !important;
    }
    &:focus{
      background: #e35300 !important;
      border: unset !important;
      outline: unset !important;
      box-shadow:  0 0 0 0.25rem rgb(255, 107, 0) !important;
    }

  }
}
.search-section{
  position: absolute;
  left: 30vw;
  top: 1.5vh;
  .form-control{
    width: 28vw;
    height:7vh !important;
    border: 1px solid rgb(255, 107, 0);
    border-right: unset;
    border-radius: .25rem 0 0 .25rem;
    &:focus{
      border-color: #e35300;
      box-shadow: 0 0 0 0.25rem rgb(228, 83, 0,0.25);
    }
  }
  .form-label{
    font-size: 2vh;
    font-weight: bold;
  }
}
.login-item{
  position: absolute;
    right: 7vw;
    top: 1.5vh;
    svg{
      color: black;
      height: 3vh;
    }
    a{
      color: black;
    }
}
.second-nav{
background: #fff;
border-top:1px solid #E6E7EB;
height: 7vh;
ul{
  display: flex;
  width: 100%;
  right: 3vw;
  position: relative;
  top: 1vh;
    list-style: none;
width: 100%;
 li{
  //  position: absolute;
   margin-left: 2vw;
 }
 
 .dropdown{
   font-size: 2.5vh;
   top: -1vh;
 }
 a{
   color: black;
   text-decoration: none;
   &:hover{
    color: unset !important;
   }
 }
}
}
a{
  color: black;
  text-decoration: none;
  &:hover{
   color: black !important;
  }
}
.predict-search{
  width: 34vw;
  height: 30vw;
  position: absolute;
  background: #fff;
  z-index: 2;
  overflow-y: scroll;
  border:2px solid #f0f0f1;
  border-radius: 10px;
  .not-match-search{
    font-size: 4vh;
    position: absolute;
    top: 10vh;
    text-align: center;
    left: 0vw;
  }
  img{
    width: 100px;
    height: 75px;
  }
  .container{
    font-size: 2vh;
  }
  .row{
    cursor: pointer;
    margin-bottom: 5vh;
    .col-md-6{
      padding: 5px;
    }
    
    padding: 10px;
    .lot-predict-search{
      border: 2px solid #f0f0f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px;
    height: 100%;
    }
  }
 
}
.form-floating{
    .close-icon{
      
      position: absolute;
      top: 2vh;
      right: 1vw;
      cursor: pointer;
    }
}
// login form
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text],input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus,input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
.form-floating{
  label{
    left:3vw;
  }
  input{
    text-align: left;
  }
}  
.vali{
  background: #e35300;
  width: fit-content;
  text-align: center;
  position: relative;
  top: 2vh;
    margin-bottom: 3vh;
    left: 13vw;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    box-shadow: #e35300 0px 0px 2px 0px;
}
.success-login{
  width: fit-content;
    text-align: center;
    left: 13vw;
    box-shadow: 0px 0px 5px 0px #d1e7dd;
    margin-top: 2vh;
  }
  

}
.empty-basket{
  position: relative;
  top: 20vh;
  text-align: center;
}
.not-found{
  font-size: 4vh;
  position: absolute;
  top: 45vh;
  text-align: center;
  left: 35vw;
}
.not-match-search{
  font-size: 4vh;
  position: absolute;
  top: 45vh;
  text-align: center;
  left: 35vw;
}
// responsive
@media(max-width:600px)
{
  .login-item{
    right:25vw;
    // .nav-link{

    // }
  }
  .navbar{
    .navbar-brand{
      left:25vw;
    }
    
  }
  .search-section{
    position: absolute;
    left: 46vw;
   top: 12vh;
    z-index: 3;
    .btn-search{
      width: 11vw;
    }
  }
  .categories{
    // .categories-title{
    
    // }
    top: unset;
  }
  .second-nav{
    height: 11vh;
    ul{
      .dropdown{
        top: unset;
      }
    }
  }
.navbar-collapse{
  background: #fff;
    border: 1px solid #ff6a00;
    border-radius: 5px;
    width: 35vw;
    position: absolute;
    z-index: 2;
    height: fit-content;
    top: 8vh;
    height: 10vh;
}
.navbar-toggler{
  border-color: #ff6a00 !important;
  &:focus{
    box-shadow: none;
  }
}
}


// for tablets
@media screen and (min-width:600px) and (max-width:900px) {
  
}

// for tablets2
@media screen and (min-width:900x) and (max-width:1100px) {
  
}