@import url('http://fonts.cdnfonts.com/css/roboto');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'roboto',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    background-color: #f2f2f2;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next{
  background: #f2f2f2;
}
.navbar{
  background-color: blue !important;

 
}
.lots{
  margin-top: 4vh !important;
}
.lot{
  background: gold;
  margin-bottom: 2vh;
  padding: 20px;
  height: 60vh;
  background: rgb(255, 255, 255);
  cursor: pointer;
  img{
   width: 100%;
   height: 30vh;
  }
}
.price {
  .price-title{
    color: rgb(255, 107, 0);
  }
}
.lot-details{
  img{
    width: 100%;
  }
  .detail-container{
    padding-top: 14vh;
    .title-details{
      text-align: center;
      h3{
        text-align: center;
      }
     
    }
    .badge{
      svg{
        color: yellow !important;
      }
      span{
        color: black;
      }
      
    }
    .inventory{
      .count{
        color:#ff6a00
  }
}
// .price{
//   color: #ff6a00;
// }
.price-number{
  color: #ff6a00;
}
.btn-regist{
  background-color: #ff6a00;
  color: #fff;
}
  }

}
.icon-loading{
  margin-top: -30vh;
  // color: #ff6a00;
}

.nav-item-shopping-basket{
  position: absolute;
  right:2vw;
  svg{
    font-size: 3.5vh;
    
    position: relative;
    top: 1.5vh;
  }
  .badge{
    top: 2vh;
    position: relative;
    padding: 2px 4px 2px 4px;
  }
  .btn-search{
    height: fit-content;
  }

}
.category{
  background: gold;
  margin-bottom: 2vh;
  padding: 20px;
  padding-top: 2vh;
  height: 40vh;
  background: rgb(255, 255, 255);
  cursor: pointer;
  img{
   width: 100%;
   height: 30vh;
   
  }
  .title{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  } 
 
}
.categories{
  top: -15vh;
  position: relative;
  .categories-title{
    text-align: center;
  }

}
.pagination-button{
  text-align: center;
}
.nav-item{
  .form-floating>.form-control{
    padding: 14px  !important;
    height: fit-content;
  }
  .form-floating>label{
    padding: 8px !important;
  }
  .btn-search{
    background: rgb(255, 107, 0);
    &:hover{
      background: #e35300 !important;
    }
    &:active{
      background: #e35300 !important;
    }
    &:focus{
      background: #e35300 !important;
      border: unset !important;
      outline: unset !important;
      box-shadow:  0 0 0 0.25rem rgb(255, 107, 0) !important;
    }

  }
}
